.sidebar {
  width: 18%;
  border-right: 1px solid #ababaa;
  min-height: 100vh;
  background-color: #fbfbf9;
}

.sidebar .logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 80px;
}

.sidebar .logo-section i {
  font-size: 20px;
  color: #86a789;
}

.sidebar .logo-section h1 {
  font-size: 24px;
  color: #465547;
}

.section-heading {
  font-weight: 500;
  font-size: 18px;
  padding-left: 20px;
}

.sidebar-link {
  text-decoration: inherit;
  color: black;
  margin: 2px 30px;
  padding: 17px;
  font-size: 20px;
  border-radius: 5px;
}

.sidebar-link:hover {
  color: aliceblue;
  background-color: #89896a;
}

.sidebar-link i {
  margin-right: 15px;
}

.dashboard-section {
  display: flex;
  flex-direction: column;
}

.settings-section {
  display: flex;
  flex-direction: column;
}

.active {
  color: green;
}
